<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Gestion des cours</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<script th:src="@{/js/filterTable.js}"></script>
<body>
<div th:include="~{elements/sidebar}"></div>

<div>
  <h1>Liste des cours</h1>

  <div th:if="${user == null or user.role != 'administrator'}">
    <script th:inline="javascript">
      window.location.href = '/index';
    </script>
  </div>

  <div th:unless="${user == null or user.role != 'administrator'}">
    <div th:if="${courses == null or #lists.isEmpty(courses)}">
      <h2>Il n'y a pas encore de cours</h2>
    </div>

    <div th:unless="${courses == null or #lists.isEmpty(courses)}">
      <label for="searchInput">Rechercher :</label>
      <input type="text" id="searchInput" onkeyup="filterTable()" placeholder="Recherche">
      </br></br>
      <form method="get">
        <table border="1">
          <thead>
          <tr>
            <th>Nom du cours</th>
            <th>Nom de la matière du cours</th>
            <th>Selection</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="course : ${courses}">
            <td th:text="${course.courseName}"></td>
            <td>
              <span th:text="${course.subjectId != null ? subjectDAO.getSubjectById(course.subjectId).subjectName : 'Pas de matière associée'}"></span>
            </td>
            <td>
              <input type="radio" name="courseId" th:value="${course.courseId}" required>
            </td>
          </tr>
          </tbody>
        </table>

        <div th:if="${messageErreur != null and !#strings.isEmpty(messageErreur)}">
          <p style="color: red" th:text="${messageErreur}"></p>
        </div>

        <button type="submit" th:formaction="@{/courseModification-servlet}">Modifier</button>
        <button type="submit" th:formaction="@{/courseDeletion-servlet}" onclick="confirmDelete(event)">Supprimer</button>
      </form>
    </div>
  </div>

  <form th:action="@{/courseCreation-servlet}" method="get">
    <button type="submit">Créer</button>
  </form>
</div>

<script>
  function confirmDelete(event) {
    const confirmation = confirm("Êtes-vous sûr de vouloir supprimer le cours ?");
    if (!confirmation) {
      event.preventDefault();
    }
  }
</script>
</body>
</html>
