<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Modification de cours</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:include="~{elements/sidebar}"></div>

<div>
  <h1>Modification d'un cours</h1>

  <div th:if="${user == null or user.role != 'administrator'}">
    <script th:inline="javascript">
      window.location.href = '/index';
    </script>
  </div>

  <div th:unless="${user == null or user.role != 'administrator'}">
    <div th:if="${course == null}">
      <p>Le cours n'existe pas</p>
    </div>

    <div th:unless="${course == null}">
      <div id="OldInfos">
        <h3>Anciennes informations</h3>
        <p>Ancien nom : <span th:text="${course.courseName}"></span></p>
        <p>Ancienne matière :
          <span th:text="${course.subjectId != null ? subjectDAO.getSubjectById(course.subjectId).subjectName : 'Pas de matière associée'}"></span>
        </p>
      </div>

      <form th:action="@{/courseModification-servlet}" method="post">
        <h3>Nouvelles informations</h3>

        <div th:if="${subjects == null or #lists.isEmpty(subjects)}">
          <p>Il n'y a de matière disponible pour modifier le cours</p>
        </div>

        <div th:unless="${subjects == null or #lists.isEmpty(subjects)}">
          <label>Choix de la matière : </label>
          <select name="newCourseSubjectId">
            <option value="">Ne pas modifier la matière</option>
            <option th:each="subject : ${subjects}" th:value="${subject.subjectId}" th:text="${subject.subjectName}"></option>
          </select>

          <label>Choix du nouveau nom du cours : </label>
          <input type="text" name="newCourseName"/>

          <input name="courseId" th:value="${course.courseId}" style="display: none"/>

          <div th:if="${messageErreur != null and !#strings.isEmpty(messageErreur)}">
            <p style="color: red" th:text="${messageErreur}"></p>
          </div>

          <button type="submit" onclick="confirmModify(event)">Modifier</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function confirmModify(event) {
    const confirmation = confirm("Êtes-vous sûr de vouloir modifier le cours ?");
    if (!confirmation) {
      event.preventDefault();
    }
  }
</script>
</body>
</html>
