<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Gestion des matières</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<script th:src="@{/js/filterTable.js}"></script>
<body>
<div th:include="~{elements/sidebar}"></div>

<div>
  <h1>Liste des notes</h1>
  <label for="searchInput">Rechercher :</label>
  <input type="text" id="searchInput" onkeyup="filterTable()" placeholder="Recherche">
  </br></br>

  <div th:if="${user == null or user.role != 'administrator'}">
    <script th:inline="javascript">
      window.location.href = '/index';
    </script>
  </div>

  <div th:unless="${user == null or user.role != 'administrator'}">
    <div th:if="${grades == null or #lists.isEmpty(grades)}">
      <p>Il n'y a pas encore de notes</p>
    </div>

    <div th:unless="${grades == null or #lists.isEmpty(grades)}">
      <form method="get">
        <table border="1">
          <thead>
          <tr>
            <th>Nom de la note</th>
            <th>Nom du cours</th>
            <th>Valeur de la note</th>
            <th>Coefficient de la note</th>
            <th>Nom et prénom de l'étudiant</th>
            <th>Classe de l'étudiant</th>
            <th>Nom et prénom de l'enseignant</th>
            <th>Selection</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="grade : ${grades}">
            <td th:text="${grade.gradeName}"></td>
            <td>
              <span th:text="${grade.courseId != null ? courseDAO.getCourseById(grade.courseId).courseName : 'Pas de cours associé'}"></span>
            </td>
            <td th:text="${grade.gradeValue}"></td>
            <td th:text="${grade.gradeCoefficient}"></td>
            <td th:text="${userDAO.getUserById(grade.studentId).userLastName + ' ' + userDAO.getUserById(grade.studentId).userName}"></td>
            <td th:text="${classeDAO.getClasseById(studentDAO.getStudentById(grade.studentId).classId).className}"></td>
            <td>
              <span th:text="${grade.teacherId != null ? userDAO.getUserById(grade.teacherId).userLastName + ' ' + userDAO.getUserById(grade.teacherId).userName : 'Pas d\'enseignant associé'}"></span>
            </td>
            <td>
              <input type="radio" name="gradeId" th:value="${grade.gradeId}" required>
            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>

  <div th:if="${messageErreur != null and !#strings.isEmpty(messageErreur)}">
    <p style="color: red" th:text="${messageErreur}"></p>
  </div>

  <button type="submit" formaction="@{/gradeModification-servlet}">Modifier</button>
  <button type="submit" formaction="@{/gradeDeletion-servlet}" onclick="confirmDelete(event)">Supprimer</button>

  <form th:action="@{/gradeCreation-servlet}" method="get">
    <button type="submit">Créer</button>
  </form>
</div>

<script>
  function confirmDelete(event) {
    const confirmation = confirm("Êtes-vous sûr de vouloir supprimer la note ?");
    if (!confirmation) {
      event.preventDefault();
    }
  }
</script>
</body>
</html>
