<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Création de note</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<script th:src="@{/js/showTable.js}"></script>
<body>
<div th:include="~{elements/sidebar}"></div>

<div>
  <h1>Création d'une nouvelle note</h1>

  <div th:if="${user == null or user.role != 'administrator'}">
    <script th:inline="javascript">
      window.location.href = '/index';
    </script>
  </div>

  <div th:unless="${user == null or user.role != 'administrator'}">
    <div th:if="${grades == null or #lists.isEmpty(grades)}">
      <p>Il n'y a pas encore de note.</p>
    </div>

    <div th:unless="${grades == null or #lists.isEmpty(grades)}">
      <div id="OldInfos">
        <h3>Notes existantes :</h3>
        <button onclick="toggleTable()">Afficher/Masquer le tableau</button></br></br>
        <table border="1" id="existingTable" style="display: table">
          <thead>
          <tr>
            <th>Nom de la note</th>
            <th>Nom du cours</th>
            <th>Valeur de la note</th>
            <th>Coefficient de la note</th>
            <th>Nom et prénom de l'étudiant</th>
            <th>Nom et prénom de l'enseignant</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="grade : ${grades}">
            <td th:text="${grade.gradeName}"></td>
            <td th:text="${grade.courseId != null ? courseDAO.getCourseById(grade.courseId).courseName : 'Pas de cours associé'}"></td>
            <td th:text="${grade.gradeValue}"></td>
            <td th:text="${grade.gradeCoefficient}"></td>
            <td th:text="${userDAO.getUserById(grade.studentId).userLastName + ' ' + userDAO.getUserById(grade.studentId).userName}"></td>
            <td th:text="${grade.teacherId != null ? userDAO.getUserById(grade.teacherId).userLastName + ' ' + userDAO.getUserById(grade.teacherId).userName : 'Pas d\'enseignant associé'}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <form th:action="@{/gradeCreation-servlet}" method="post">
    <h3>Nouvelle note :</h3>
    <label>Nom de la note : </label>
    <input type="text" name="newGradeName" required/>

    <label>Choix du cours : </label>
    <select name="newGradeCourseId" required>
      <option th:each="course : ${courses}" th:value="${course.courseId}" th:text="${course.courseName}"></option>
    </select>

    <label>Valeur de la note : </label>
    <input type="number" name="newGradeValue" required/>

    <label>Coefficient de la note : </label>
    <input type="number" name="newGradeCoefficient" required/>

    <label>Choix de l'étudiant : </label>
    <select name="newGradeStudentId" required>
      <option th:each="student : ${students}" th:value="${student.studentId}" th:text="${userDAO.getUserById(student.studentId).userLastName + ' ' + userDAO.getUserById(student.studentId).userName + ' ' + classeDAO.getClasseById(student.classId).className}"></option>
    </select>

    <label>Choix de l'enseignant : </label>
    <select name="newGradeTeacherId" required>
      <option th:each="teacher : ${teachers}" th:value="${teacher.teacherId}" th:text="${userDAO.getUserById(teacher.teacherId).userLastName + ' ' + userDAO.getUserById(teacher.teacherId).userName}"></option>
    </select>

    <div th:if="${messageErreur != null and !#strings.isEmpty(messageErreur)}">
      <p style="color: red" th:text="${messageErreur}"></p>
    </div>

    <button type="submit" onclick="confirmCreate(event)">Créer</button>
  </form>
</div>

<script>
  function confirmCreate(event) {
    const confirmation = confirm("Êtes-vous sûr de vouloir créer la note ?");
    if (!confirmation) {
      event.preventDefault();
    }
  }
</script>
</body>
</html>
