<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Modification séance</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:include="~{elements/sidebar}"></div>

<div>
  <h1>Modification d'une séance</h1>

  <div th:if="${user == null or user.role != 'administrator'}">
    <script th:inline="javascript">
      window.location.href = '/index';
    </script>
  </div>

  <div th:unless="${user == null or user.role != 'administrator'}">
    <div th:if="${lesson == null}">
      <h2>Pas de séance à modifier</h2>
    </div>

    <div th:unless="${lesson == null}">
      <div id="OldInfos">
        <h3>Anciennes informations :</h3>
        <p>Ancien cours :
          <span th:text="${lesson.courseId != null ? courseDAO.getCourseName(lesson.courseId) : 'Il n\'y a pas de cours associé à la séance'}"></span>
        </p>
        <p>Ancien enseignant :
          <span th:text="${lesson.teacherId != null ? userDAO.getUserById(lesson.teacherId).userLastName + ' ' + userDAO.getUserById(lesson.teacherId).userName : 'Il n\'y a pas d\'enseignant associé à la séance'}"></span>
        </p>
        <p>Ancienne date de début : <span th:text="${lesson.lesson_Start_Date}"></span></p>
        <p>Ancienne date de fin : <span th:text="${lesson.lesson_End_Date}"></span></p>
      </div>

      <form th:action="@{/lessonModification-servlet}" method="post">
        <h3>Nouvelles informations :</h3>

        <label>Choix du nouveau cours : </label>
        <div th:if="${courses == null or #lists.isEmpty(courses)}">
          <p>Pas de cours à sélectionner</p>
        </div>
        <div th:unless="${courses == null or #lists.isEmpty(courses)}">
          <select name="newCourseId">
            <option value="">Ne pas modifier le cours</option>
            <option th:each="course : ${courses}" th:value="${course.courseId}" th:text="${course.courseName}"></option>
          </select>
        </div>

        <label>Nouvelle date de début : </label>
        <input name="newStartDate" type="datetime-local"/>

        <label>Nouvelle date de fin : </label>
        <input name="newEndDate" type="datetime-local"/>

        <div th:if="${teachers == null or #lists.isEmpty(teachers)}">
          <h3>Pas d'enseignant à sélectionner</h3>
        </div>
        <div th:unless="${teachers == null or #lists.isEmpty(teachers)}">
          <label>Choix de l'enseignant : </label>
          <select name="newTeacherId">
            <option value="">Ne pas modifier l'enseignant</option>
            <option th:each="teacher : ${teachers}" th:value="${teacher.teacherId}">
              <span th:text="${userDAO.getUserById(teacher.teacherId).userLastName + ' ' + userDAO.getUserById(teacher.teacherId).userName}"></span>
            </option>
          </select>
        </div>

        <input name="lessonId" th:value="${lesson.lessonId}" type="hidden"/>

        <div th:if="${messageErreur != null and !#strings.isEmpty(messageErreur)}">
          <p style="color: red" th:text="${messageErreur}"></p>
        </div>

        <button type="submit" onclick="confirmModify(event)">Valider</button>
      </form>
    </div>
  </div>
</div>

</body>

<script>
  function confirmModify(event) {
    const confirmation = confirm("Êtes-vous sûr de vouloir modifier la séance ?");
    if (!confirmation) {
      event.preventDefault(); // Annule la soumission du formulaire si l'utilisateur annule
    }
  }
</script>
</html>
