<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Création séance</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<script th:src="@{/js/showTable.js}"></script>
<body>
<div th:include="~{elements/sidebar}"></div>

<div>
  <h1>Création d'une séance</h1>

  <div th:if="${user == null or user.role != 'administrator'}">
    <script th:inline="javascript">
      window.location.href = '/index';
    </script>
  </div>

  <div th:unless="${user == null or user.role != 'administrator'}">
    <div th:if="${lessons == null or #lists.isEmpty(lessons)}">
      <h2>Pas de séance pour l'instant</h2>
    </div>

    <div th:unless="${lessons == null or #lists.isEmpty(lessons)}">
      <button onclick="toggleTable()">Afficher/Masquer le tableau</button></br></br>
      <table border="1" id="existingTable" style="display: table">
        <tr>
          <th>Nom du cours</th>
          <th>Nom et prénom du professeur</th>
          <th>Date de début</th>
          <th>Date de fin</th>
        </tr>
        <tr th:each="lesson : ${lessons}">
          <td th:text="${lesson.courseId != null ? courseDAO.getCourseName(lesson.courseId) : 'Pas de cours associé'}"></td>
          <td th:text="${lesson.teacherId != null ? userDAO.getUserById(lesson.teacherId).userLastName + ' ' + userDAO.getUserById(lesson.teacherId).userName : 'Pas d\'enseignant associé'}"></td>
          <td th:text="${lesson.lesson_Start_Date}"></td>
          <td th:text="${lesson.lesson_End_Date}"></td>
        </tr>
      </table>
    </div>
  </div>

  <form th:action="@{/lessonCreation-servlet}" method="post">
    <div th:if="${courses == null or #lists.isEmpty(courses)}">
      <h3>Pas de cours pour faire la séance</h3>
    </div>
    <div th:unless="${courses == null or #lists.isEmpty(courses)}">
      <label>Choix du cours : </label>
      <select name="course">
        <option th:each="course : ${courses}" th:value="${course.courseId}" th:text="${course.courseName}"></option>
      </select>
    </div>

    <label>Date de début : </label>
    <input name="startDate" type="datetime-local" required />

    <label>Date de fin : </label>
    <input name="endDate" type="datetime-local" required />

    <div th:if="${teachers == null or #lists.isEmpty(teachers)}">
      <h3>Pas d'enseignant pour faire la séance</h3>
    </div>
    <div th:unless="${teachers == null or #lists.isEmpty(teachers)}">
      <label>Choix du professeur : </label>
      <select name="teacher">
        <option th:each="teacher : ${teachers}" th:value="${teacher.teacherId}">
          <span th:text="${userDAO.getUserById(teacher.teacherId).userLastName + ' ' + userDAO.getUserById(teacher.teacherId).userName}"></span>
        </option>
      </select>
    </div>

    <div th:if="${messageErreur != null and !#strings.isEmpty(messageErreur)}">
      <p style="color: red" th:text="${messageErreur}"></p>
    </div>

    <button type="submit" onclick="confirmCreate(event)">Valider</button>
  </form>
</div>

</body>
<script>
  function confirmCreate(event) {
    const confirmation = confirm("Êtes-vous sûr de vouloir créer la séance ?");
    if (!confirmation) {
      event.preventDefault(); // Empêche la soumission du formulaire si l'utilisateur annule
    }
  }
</script>
</html>
