<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Création de filière</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<script th:src="@{/js/showTable.js}"></script>
<body>
<div th:include="~{elements/sidebar}"></div>
<div>
  <h1>Création d'une nouvelle filière</h1>
  <div id="OldInfos">
    <h3>Filière existante :</h3>

    <th:block th:if="${#lists.isEmpty(majors)}">
      <p>Il n'y a pas encore de filière</p>
    </th:block>

    <th:block th:unless="${#lists.isEmpty(majors)}">
      <button onclick="toggleTable()">Afficher/Masquer le tableau</button></br></br>
      <table border="1" id="existingTable" style="display: table">
        <thead>
        <tr>
          <th>Nom de la filière</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="major : ${majors}">
          <tr>
            <td th:text="${major.majorName}"></td>
          </tr>
        </th:block>
        </tbody>
      </table>
    </th:block>
  </div>

  <form action="majorCreation" method="post">
    <h3>Nouvelle filière :</h3>
    <label for="newMajor">Choix du nom de la filière :</label>
    <input type="text" name="newMajor" id="newMajor" required/>

    <th:block th:if="${error != null}">
      <p style="color: red;" th:text="${error}"></p>
    </th:block>

    <button type="submit" onclick="confirmCreate(event)">Créer</button>
  </form>
</div>

<script>
  function confirmCreate(event) {
    const confirmation = confirm("Êtes-vous sûr de vouloir créer la filière ?");
    if (!confirmation) {
      event.preventDefault();
    }
  }
</script>
</body>
</html>
