<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Modification de filière</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:include="~{elements/sidebar}"></div>

<div>
  <h1>Modification d'une filière</h1>

  <th:block th:if="${#session.getAttribute('user') == null or not #session.getAttribute('user').role.equals('administrator')}">
    <p>Vous n'êtes pas autorisé à voir cette page.</p>
    <a href="index">Retour à l'accueil</a>
  </th:block>

  <th:block th:unless="${#session.getAttribute('user') == null or not #session.getAttribute('user').role.equals('administrator')}">
    <th:block th:if="${major == null}">
      <p>La filière n'existe pas</p>
    </th:block>

    <th:block th:unless="${major == null}">
      <div id="OldInfos">
        <h3>Ancienne information</h3>
        <p th:text="'Ancien nom de la filière : ' + ${major.majorName}"></p>
      </div>

      <form action="majorModification" method="post">
        <h3>Nouvelle information</h3>
        <label for="majorNewName">Nouveau nom de la filière :</label>
        <input type="text" id="majorNewName" name="majorNewName" required>
        <input type="hidden" name="marjorId" th:value="${major.marjorId}">

        <th:block th:if="${error != null}">
          <p style="color: red;" th:text="${error}"></p>
        </th:block>

        <button type="submit" onclick="confirmModify(event)">Modifier</button>
      </form>
    </th:block>
  </th:block>
</div>

<script>
  function confirmModify(event) {
    const confirmation = confirm("Êtes-vous sûr de vouloir modifier la filière ?");
    if (!confirmation) {
      event.preventDefault();
    }
  }
</script>
</body>
</html>
