<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Création de matière</title>
  <link rel="stylesheet" href="${pageContext.request.contextPath}/css/styles.css">
</head>
<script src="${pageContext.request.contextPath}/js/showTable.js"></script>
<body>
<div th:include="~{elements/sidebar}"></div>
<div>
  <h1>Création d'une nouvelle matière</h1>

  <div th:if="${user == null or not user.hasRole('administrator')}">
    <h2>Accès refusé. Vous devez être un administrateur pour accéder à cette page.</h2>
    <a th:href="@{/index}">Retour à l'accueil</a>
  </div>

  <div th:if="${user != null and user.hasRole('administrator')}">
    <div id="OldInfos">
      <h3>Matière existante : </h3>

      <div th:if="${#lists.isEmpty(subjectList)}">
        <p>Il n'y a pas encore de matière</p>
      </div>

      <div th:if="${not #lists.isEmpty(subjectList)}">
        <button onclick="toggleTable()">Afficher/Masquer le tableau</button></br></br>
        <table border="1" id="existingTable" style="display: table">
          <thead>
          <tr>
            <th>Nom de la matière</th>
          </tr>
          </thead>
          <tbody>
          <th:block th:each="subject : ${subjectList}">
            <tr>
              <td th:text="${subject.subjectName}"></td>
            </tr>
          </th:block>
          </tbody>
        </table>
      </div>
    </div>

    <form action="subjectCreation-servlet" method="post">
      <h3>Nouvelle matière :</h3>
      <label for="newSubject">Nom de la nouvelle matière : </label>
      <input type="text" name="newSubject" id="newSubject" required/>

      <div th:if="${error != null}">
        <p style="color: red;" th:text="${error}"></p>
      </div>

      <button type="submit" onclick="confirmCreate(event)">Créer</button>
    </form>
  </div>
</div>
</body>

<script>
  function confirmCreate(event) {
    const confirmation = confirm("Êtes-vous sûr de vouloir créer la matière ?");

    if (!confirmation) {
      event.preventDefault(); // Empêche l'envoi du formulaire si l'utilisateur annule
    }
  }
</script>
</html>
