<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Création d'utilisateur</title>
  <link rel="stylesheet" href="{{pageContext.request.contextPath}}/css/styles.css">
</head>
<script src="{{pageContext.request.contextPath}}/js/showTable.js"></script>
<body>
<div th:include="elements/sidebar :: sidebar"></div>
<div>
  <h1>Création d'un nouvel utilisateur</h1>
  <div id="OldInfos">
    <h3>Utilisateurs existants :</h3>
    <div th:if="${users == null or #lists.isEmpty(users)}">
      <p>Il n'y a pas encore d'utilisateur.</p>
    </div>
    <div th:if="${users != null and not #lists.isEmpty(users)}">
      <button onclick="toggleTable()">Afficher/Masquer le tableau</button></br></br>
      <table border="1" id="existingTable" style="display: table">
        <thead>
        <tr>
          <th>Nom de l'utilisateur</th>
          <th>Prénom de l'utilisateur</th>
          <th>Email de l'utilisateur</th>
          <th>Date de naissance de l'utilisateur</th>
          <th>Rôle de l'utilisateur</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
          <td th:text="${user.userLastName}"></td>
          <td th:text="${user.userName}"></td>
          <td th:text="${user.userEmail}"></td>
          <td th:text="${user.user_Birthdate}"></td>
          <td th:text="${user.user_Role}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <form action="userCreation-servlet" method="post">
    <h3>Nouveau utilisateur :</h3>
    <label for="newUserLastName">Nom de l'utilisateur :</label>
    <input type="text" id="newUserLastName" name="newUserLastName" required/>

    <label for="newUserName">Prénom de l'utilisateur :</label>
    <input type="text" id="newUserName" name="newUserName" required/>

    <label for="newUserEmail">Email de l'utilisateur :</label>
    <input type="text" id="newUserEmail" name="newUserEmail" required/>

    <label for="newUserPassword">Mot de passe de l'utilisateur :</label>
    <input type="text" id="newUserPassword" name="newUserPassword" required/>

    <label for="newUserBirthdate">Date de naissance de l'utilisateur :</label>
    <input type="date" id="newUserBirthdate" name="newUserBirthdate" required/>

    <label for="newUserRole">Rôle de l'utilisateur :</label>
    <select id="newUserRole" name="newUserRole" required>
      <option th:value="${T(com.example.projetjee.model.entities.Role).student}" th:text="#{role.student}">Étudiant</option>
      <option th:value="${T(com.example.projetjee.model.entities.Role).teacher}" th:text="#{role.teacher}">Enseignant</option>
      <option th:value="${T(com.example.projetjee.model.entities.Role).administrator}" th:text="#{role.administrator}">Administrateur</option>
    </select>

    <div th:if="${error != null and error != ''}">
      <p style="color: red" th:text="${error}"></p>
    </div>

    <button type="submit" onclick="confirmCreate(event)">Créer</button>
  </form>
</div>

<script>
  function confirmCreate(event) {
    const confirmation = confirm("Êtes-vous sûr de vouloir créer l'utilisateur ?");

    if (!confirmation) {
      event.preventDefault();
    }
  }
</script>
</body>
</html>
