<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Liste des utilisateurs à valider</title>
  <link rel="stylesheet" href="${pageContext.request.contextPath}/css/styles.css">
</head>
<body>
<div th:include="~{elements/sidebar}"></div>
<div>
  <h1>Liste des utilisateurs à valider</h1>
  <!-- Check if the user is logged in and has admin role -->
  <div th:if="${user == null or not user.user_Role.equals('ADMINISTRATOR')}">
    <p>Vous n'êtes pas autorisé à voir cette page.</p>
  </div>

  <div th:if="${user != null and user.user_Role.equals('ADMINISTRATOR')}">
    <div th:if="${usersToValidate == null or usersToValidate.isEmpty()}">
      <h2>Pas d'utilisateurs à valider</h2>
    </div>

    <div th:if="${usersToValidate != null}">
      <label for="searchInput">Rechercher :</label>
      <input type="text" id="searchInput" onkeyup="filterTable()" placeholder="Recherche"><br><br>

      <!-- Form for validating users -->
      <form method="post" id="userForm">
        <table border="1px">
          <thead>
          <tr>
            <th>Nom de l'utilisateur</th>
            <th>Prénom de l'utilisateur</th>
            <th>Email de l'utilisateur</th>
            <th>Date de naissance de l'utilisateur</th>
            <th>Rôle de l'utilisateur</th>
            <th>Filière de l'utilisateur</th>
            <th>Selection</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="user : ${usersToValidate}">
            <td th:text="${user.userToValidateLastName}"></td>
            <td th:text="${user.userToValidateName}"></td>
            <td th:text="${user.userToValidateEmail}"></td>
            <td th:text="${user.userToValidateBirthdate}"></td>
            <td th:text="${user.userToValidateRole}"></td>
            <td>
                                <span th:if="${user.userToValidateMajorId != null}">
                                    <span th:text="${T(com.example.projetjee.model.dao.MajorDAO).getMajorById(user.userToValidateMajorId).majorName}"></span>
                                </span>
              <span th:if="${user.userToValidateMajorId == null}">Pas de filière</span>
            </td>
            <td><input type="radio" name="userToValidateId" th:value="${user.userToValidateId}" required /></td>
          </tr>
          </tbody>
        </table>

        <!-- Error message -->
        <div th:if="${error != null and not error.isEmpty()}">
          <p style="color: red" th:text="${error}"></p><br>
        </div>

        <!-- Action buttons -->
        <button type="button" onclick="confirmSubmission('validate')">Valider</button>
        <button type="button" onclick="confirmSubmission('refuse')">Refuser</button>
      </form>
    </div>
  </div>
</div>

<script>
  function confirmSubmission(action) {
    const confirmationMessage = action === 'validate' ? "Êtes-vous sûr de vouloir valider cet utilisateur ?" : "Êtes-vous sûr de vouloir refuser cet utilisateur ?";
    const confirmation = confirm(confirmationMessage);

    if (confirmation) {
      const form = document.getElementById('userForm');
      form.action = action === 'validate' ? 'validateUser-servlet' : 'refuseUser-servlet';
      form.submit();
    }
  }
</script>
</body>
</html>
